* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

body {
  background: #d6f5d6;
  color: #000000;
  background-size: cover;
  overflow-y: scroll; }

section {
  display: block; }

.container {
  width: 95vw;
  margin: 0 auto; }

.top-nav {
  background: #000000;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; }

nav {
  list-style: none;
  display: block; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    nav ul li {
      display: inline-block;
      padding: 10px; }
      nav ul li a {
        text-decoration: none;
        color: #d6f5d6;
        font-weight: 700;
        letter-spacing: 2px; }
        nav ul li a:hover {
          color: #828282; }

.li-active {
  background: #d6f5d6; }

.a-active {
  color: #000000; }

#home {
  text-align: center;
  margin-top: 5vh;
  height: 100vh; }
  #home .header {
    transform: translateY(40vh); }
    #home .header h1 {
      animation: name 1.3s;
      font-weight: 700;
      font-size: 4rem; }

.left {
  display: inline-block;
  animation: left 1s; }

.right {
  display: inline-block;
  animation: right 1s; }

@keyframes name {
  0% {
    transform: scale(4) translateY(40vh);
    text-shadow: 0 5px 0 black; }
  100% {
    transform: scale(1) translateY(0);
    text-shadow: 0 2px 0 black; } }

@keyframes right {
  0% {
    transform: translateX(60vh); }
  100% {
    transform: translateX(0); } }

@keyframes left {
  0% {
    transform: translateX(-60vh); }
  100% {
    transform: translateX(0); } }

#about {
  text-align: center;
  max-width: 50%;
  margin: 0 auto; }

.about__text {
  font-weight: 600; }

.projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem; }

.thumbnail {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-gap: 0 1rem; }

.pic__board {
  max-height: 100%;
  max-width: 100%; }

.pic__ttt {
  max-height: 100%;
  max-width: 100%; }

.pic__quote {
  max-width: 100%; }

.pic__container {
  margin: 0 auto; }

@media (min-width: 601px) {
  .caption__ttt {
    grid-area: caption; }
  .pic__ttt {
    grid-area: picture; }
  .thumbnail__2 {
    display: grid;
    grid-template-areas: "caption picture";
    grid-gap: 0 1rem; } }

.caption {
  align-self: center; }

@media (max-width: 600px) {
  .thumbnail {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    text-align: center; } }

.project__header {
  text-align: center;
  padding-bottom: 5vh;
  font-weight: 700;
  font-size: 2rem; }

.contact__header {
  padding-top: 5vh;
  text-align: center;
  font-weight: 700;
  font-size: 2rem; }

.contact__form {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto auto auto auto;
  gap: 1rem;
  margin-top: 2rem; }

.contact__label {
  justify-self: end;
  margin-right: 1rem; }
  .contact__label--name {
    grid-column: 1;
    grid-row: 1;
    align-self: center; }
  .contact__label--email {
    grid-column: 1;
    grid-row: 2;
    align-self: center; }
  .contact__label--subject {
    grid-column: 1;
    grid-row: 3;
    align-self: center; }
  .contact__label--message {
    grid-column: 1;
    grid-row: 4;
    align-self: center; }

.contact__input--name {
  grid-column: 2;
  grid-row: 1;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background-color: #d6f5d6;
  height: 2rem;
  width: 100%; }

.contact__input--email {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background-color: #d6f5d6;
  height: 2rem;
  width: 100%; }
  .contact__input--email--container {
    grid-column: 2;
    grid-row: 2;
    height: auto;
    width: 100%; }

.contact__input--subject {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background-color: #d6f5d6;
  height: 2rem;
  width: 100%; }
  .contact__input--subject--container {
    grid-column: 2;
    grid-row: 3;
    height: auto;
    width: 100%; }

.contact__input--message {
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  background-color: #d6f5d6;
  height: 6rem;
  resize: none;
  width: 100%; }
  .contact__input--message--container {
    grid-column: 2;
    grid-row: 4;
    height: auto;
    width: 100%; }

.contact__input--submit {
  grid-column: 1/4;
  grid-row: 5;
  width: 20%;
  justify-self: center;
  height: 2rem;
  background-color: #24e307;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 2%;
  box-shadow: 0 3px 4px #000000; }

.submit-pushed {
  box-shadow: 0 1px 2px #000000; }

.required-show {
  display: block;
  color: red;
  font-size: 0.75rem; }

.required-input {
  border-bottom: 1px solid red; }

@media (min-width: 601px) {
  #contact {
    height: auto;
    padding-bottom: 5vh; }
    #contact .links {
      height: auto;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-left: 5px;
      margin-top: 2rem; }
      #contact .links .contact {
        width: auto;
        height: auto;
        background-color: #d6f5d6;
        text-align: center;
        justify-self: center; }
        #contact .links .contact__github {
          grid-row: 1;
          grid-column: 1; }
        #contact .links .contact__linkedin {
          grid-row: 1;
          grid-column: 2; }
        #contact .links .contact .link__icon {
          height: auto;
          width: auto; }
        #contact .links .contact .icon {
          font-size: 7rem;
          color: #000000; }
      #contact .links .site {
        font-size: 3.125rem; }
      #contact .links .link__p {
        display: inline;
        color: #000000;
        text-decoration: none; } }

@media (max-width: 600px) {
  #contact {
    height: auto;
    padding-bottom: 5vh; }
    #contact .links {
      height: auto;
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-left: 5px;
      margin-top: 2rem; }
      #contact .links .contact {
        width: auto;
        height: auto;
        background-color: #d6f5d6;
        text-align: center;
        justify-self: center; }
        #contact .links .contact__github {
          grid-row: 1;
          grid-column: 1; }
        #contact .links .contact__linkedin {
          grid-row: 1;
          grid-column: 2; }
        #contact .links .contact .link__icon {
          height: auto;
          width: auto; }
        #contact .links .contact .icon {
          font-size: 7rem;
          color: #000000; }
      #contact .links .site {
        display: none; } }

.error__message,
.thank-you {
  text-align: center;
  font-weight: 400;
  margin-top: 2rem; }
