* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif; }

body {
  background: #d6f5d6;
  color: #000000;
  background-size: cover;
  overflow-y: scroll; }

section {
  display: block; }

.container {
  width: 95vw;
  margin: 0 auto; }

.top-nav {
  background: #000000;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; }

nav {
  list-style: none;
  display: block; }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    nav ul li {
      display: inline-block;
      padding: 10px; }
      nav ul li a {
        text-decoration: none;
        color: #d6f5d6;
        font-weight: 700;
        letter-spacing: 2px; }
        nav ul li a:hover {
          color: #828282; }

.li-active {
  background: #d6f5d6; }

.a-active {
  color: #000000; }

#home {
  text-align: center;
  margin-top: 5vh;
  height: 100vh; }
  #home .header {
    transform: translateY(40vh); }
    #home .header h1 {
      animation: name 1.3s;
      font-weight: 700;
      font-size: 4rem; }

.left {
  display: inline-block;
  animation: left 1s; }

.right {
  display: inline-block;
  animation: right 1s; }

@keyframes name {
  0% {
    transform: scale(4) translateY(40vh);
    text-shadow: 0 5px 0 black; }
  100% {
    transform: scale(1) translateY(0);
    text-shadow: 0 2px 0 black; } }

@keyframes right {
  0% {
    transform: translateX(60vh); }
  100% {
    transform: translateX(0); } }

@keyframes left {
  0% {
    transform: translateX(-60vh); }
  100% {
    transform: translateX(0); } }

#about {
  height: auto;
  padding: 5%;
  display: grid;
  display: -ms-grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  width: 100%; }
  #about .about__img {
    grid-row: 1;
    grid-column: 1;
    padding-right: 10px; }
    #about .about__img img {
      height: 80%;
      width: 100%; }
  #about .about__text {
    grid-row: 1;
    grid-column: 2; }
  #about .exp__text {
    grid-row: 2;
    grid-column: 1;
    padding: 5% 0; }
  #about .exp__img {
    grid-row: 2;
    grid-column: 2; }
    #about .exp__img img {
      width: 100%;
      height: 100%;
      padding: 5% 15% 5% 20%; }

@media (max-width: 800px) {
  #about {
    height: auto;
    display: grid;
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    -ms-grid-column-align: center; }
    #about .about__img {
      grid-row: 1;
      grid-column: 1; }
      #about .about__img img {
        padding: 5%; }
    #about .about__text {
      grid-row: 2;
      grid-column: 1;
      padding: 5%;
      height: auto; }
    #about .exp__text {
      order: 4;
      grid-row: 4;
      grid-column: 1;
      padding: 5%;
      height: auto; }
    #about .exp__img {
      grid-row: 3;
      grid-column: 1; }
      #about .exp__img img {
        order: 3;
        padding: 5%;
        height: 100%; } }

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.thumbnail {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr; }

.pic__link {
  display: inline-block;
  height: 100%;
  width: 100%; }

.pic__quote {
  height: 33%;
  width: 100%; }

.project__header {
  text-align: center;
  padding-bottom: 5vh;
  font-weight: 700;
  font-size: 2rem; }

.contact__header {
  padding-top: 5vh;
  text-align: center;
  font-weight: 700;
  font-size: 2rem; }

@media (min-width: 801px) {
  #contact {
    height: auto;
    padding-bottom: 5vh; }
    #contact .links {
      height: auto;
      display: grid;
      display: -ms-grid;
      -ms-grid-rows: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-left: 5px;
      padding-top: 5vh; }
      #contact .links .contact {
        width: 150px;
        height: 150px;
        background-color: #d6f5d6;
        border-radius: 50%;
        text-align: center;
        justify-self: center;
        -ms-grid-column-align: center; }
        #contact .links .contact:hover {
          background-color: #000000; }
        #contact .links .contact:hover .icon {
          color: #d6f5d6; }
        #contact .links .contact__github {
          grid-row: 1;
          grid-column: 1; }
        #contact .links .contact__email {
          grid-row: 2;
          grid-column: 1; }
        #contact .links .contact__linkedin {
          grid-row: 3;
          grid-column: 1; }
        #contact .links .contact .icon {
          font-size: 7rem;
          margin-top: 19px;
          color: #000000; }
        #contact .links .contact:hover + .site {
          background-color: #000000; }
          #contact .links .contact:hover + .site .link__p {
            color: #d6f5d6; }
      #contact .links .site {
        background-color: #d6f5d6;
        font-size: 50px; }
        #contact .links .site__github {
          grid-row: 1;
          grid-column: 2;
          -ms-grid-row-align: center; }
        #contact .links .site__email {
          grid-row: 2;
          grid-column: 2;
          -ms-grid-row-align: center; }
        #contact .links .site__linkedin {
          grid-row: 3;
          grid-column: 2;
          -ms-grid-row-align: center; }
      #contact .links .link__p {
        display: inline;
        color: #000000;
        pointer-events: none;
        text-decoration: none; } }

@media (max-width: 800px) {
  #contact {
    height: auto;
    padding-bottom: 5vh; }
    #contact .links {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh; }
      #contact .links .contact {
        display: none; }
      #contact .links .site {
        background-color: #000000;
        width: 100%;
        text-align: center; }
        #contact .links .site .link__p {
          color: #d6f5d6;
          text-decoration: none;
          font-size: 50px; } }
