@mixin section-height {
  height: 100vh;
}

@mixin img-style {
  width: 100%;
  height: 100%;
}

@mixin five-pad {
  padding: 5%;
}

$primary-color: #d6f5d6;
$secondary-color: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background: $primary-color;
  color: $secondary-color;
  background-size: cover;
  overflow-y: scroll;
  // overflow-x: hidden;
}

section {
  display: block;
}

.container {
  width: 95vw;
  margin: 0 auto;
}

.top-nav {
  background: $secondary-color;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

nav {
  list-style: none;
  display: block;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      display: inline-block;
      padding: 10px;

      a {
        text-decoration: none;
        color: $primary-color;
        font-weight: 700;
        letter-spacing: 2px;

        &:hover {
          color: rgb(130, 130, 130);
        }
      }
    }
  }
}

.li-active {
  background: $primary-color;
}

.a-active {
  color: $secondary-color;
}

#home {
  text-align: center;
  margin-top: 5vh;
  @include section-height;

  .header {
    transform: translateY(40vh);

    h1 {
      animation: name 1.3s;
      font-weight: 700;
      font-size: 4rem;
    }
  }
}

.left {
  display: inline-block;
  animation: left 1s;
}

.right {
  display: inline-block;
  animation: right 1s;
}

@keyframes name {
  0% {
    transform: scale(4) translateY(40vh);
    text-shadow: 0 5px 0 black;
  }
  100% {
    transform: scale(1) translateY(0);
    text-shadow: 0 2px 0 black;
  }
}

@keyframes right {
  0% {
    transform: translateX(60vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    transform: translateX(-60vh);
  }

  100% {
    transform: translateX(0);
  }
}

#about {
  height: auto;
  @include five-pad;
  display: grid;
  display: -ms-grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  width: 100%;

  .about__img {
    grid-row: 1;
    grid-column: 1;
    padding-right: 10px;

    img {
      height: 80%;
      width: 100%;
      // padding: 0 20% 5% 15%;
    }
  }

  .about__text {
    grid-row: 1;
    grid-column: 2;
  }

  .exp__text {
    grid-row: 2;
    grid-column: 1;
    padding: 5% 0;
  }

  .exp__img {
    grid-row: 2;
    grid-column: 2;

    img {
      @include img-style;
      padding: 5% 15% 5% 20%;
    }
  }
}

@media (max-width: 800px) {
  #about {
    height: auto;
    display: grid;
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    -ms-grid-column-align: center;

    .about__img {
      grid-row: 1;
      grid-column: 1;
      img {
        @include five-pad;
      }
    }

    .about__text {
      grid-row: 2;
      grid-column: 1;
      @include five-pad;
      height: auto;
    }

    .exp__text {
      order: 4;
      grid-row: 4;
      grid-column: 1;
      @include five-pad;
      height: auto;
    }

    .exp__img {
      grid-row: 3;
      grid-column: 1;

      img {
        order: 3;
        @include five-pad;
        height: 100%;
      }
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 300px auto;
}

.thumbnail {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}

.pic__container {
  height: 100%;
  width: 100%;
}

// .pic__link {
//   display: inline-block;
//   height: 100%;
//   width: 100%;
// }

.pic {
  &__board {
    max-height: 100%;
    max-width: 100%;
  }
  &__ttt {
    max-height: 100%;
    max-width: 100%;
  }
  &__quote {
    height: 33%;
    max-width: 100%;
  }
}

.project__header {
  text-align: center;
  padding-bottom: 5vh;
  font-weight: 700;
  font-size: 2rem;
}

.contact__header {
  padding-top: 5vh;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 801px) {
  #contact {
    height: auto;
    padding-bottom: 5vh;

    .links {
      height: auto;
      display: grid;
      display: -ms-grid;
      -ms-grid-rows: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-left: 5px;
      padding-top: 5vh;

      .contact {
        width: 150px;
        height: 150px;
        background-color: $primary-color;
        border-radius: 50%;
        text-align: center;
        justify-self: center;
        -ms-grid-column-align: center;

        &:hover {
          background-color: $secondary-color;
        }

        &:hover .icon {
          color: $primary-color;
        }

        &__github {
          grid-row: 1;
          grid-column: 1;
        }

        &__email {
          grid-row: 2;
          grid-column: 1;
        }

        &__linkedin {
          grid-row: 3;
          grid-column: 1;
        }

        .icon {
          font-size: 7rem;
          margin-top: 19px;
          color: $secondary-color;
        }

        &:hover + .site {
          background-color: $secondary-color;

          .link__p {
            color: $primary-color;
          }
        }
      }

      .site {
        background-color: $primary-color;
        font-size: 50px;

        &__github {
          grid-row: 1;
          grid-column: 2;
          -ms-grid-row-align: center;
        }

        &__email {
          grid-row: 2;
          grid-column: 2;
          -ms-grid-row-align: center;
        }

        &__linkedin {
          grid-row: 3;
          grid-column: 2;
          -ms-grid-row-align: center;
        }
      }

      .link__p {
        display: inline;
        color: $secondary-color;
        pointer-events: none;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 800px) {
  #contact {
    height: auto;
    padding-bottom: 5vh;

    .links {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;

      .contact {
        display: none;
      }

      .site {
        background-color: $secondary-color;
        width: 100%;
        text-align: center;

        .link__p {
          color: $primary-color;
          text-decoration: none;
          font-size: 50px;
        }
      }
    }
  }
}
