@mixin section-height {
  height: 100vh;
}

@mixin img-style {
  width: 100%;
  height: 100%;
}

@mixin five-pad {
  padding: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background: url("https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container {
  width: 95vw;
  margin: 0 auto;
}

.top-nav {
  background: linear-gradient(to right, #666, #111);
  z-index: 999;
  position: fixed;
  top: 0;
  width: 95vw;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: block;

  li {
    display: inline-block;
    padding: 10px;

    a {
      text-decoration: none;
      color: #eee;

      &:hover {
        color: rgb(100, 256, 100);
      }
    }
  }
}

#home {
  text-align: center;
  margin-top: 5vh;
  @include section-height;
  color: white;

  .header {
    transform: translateY(40vh);

    h1 {
      animation: name 1.3s;
      font-weight: 700;
      font-size: 4rem;
    }
  }
}

.left {
  display: inline-block;
  animation: left 1s;
}

.right {
  display: inline-block;
  animation: right 1s;
}

@keyframes name {
  0% {
    transform: scale(4) translateY(40vh);
    text-shadow: 0 5px 0 black;
  }
  100% {
    transform: scale(1) translateY(0);
    text-shadow: 0 2px 0 black;
  }
}

@keyframes right {
  0% {
    transform: translateX(60vh);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes left {
  0% {
    transform: translateX(-60vh);
  }

  100% {
    transform: translateX(0);
  }
}

#about {
  height: auto;
  @include five-pad;
  display: grid;
  display: -ms-grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-weight: 600;
  width: 100%;

  .about__img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;

    img {
      height: 80%;
      width: 100%;
      padding: 0 20% 5% 15%;
    }
  }

  .about__text {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .exp__text {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    padding: 5% 0;
  }

  .exp__img {
    -ms-grid-row: 2;
    -ms-grid-column: 2;

    img {
      @include img-style;
      padding: 5% 15% 5% 20%;
    }
  }
}

@media (max-width: 750px) {
  #about {
    height: auto;
    display: grid;
    display: -ms-grid;
    -ms-grid-rows: auto;
    -ms-grid-columns: 1fr;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    -ms-grid-column-align: center;

    .about__img {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      img {
        @include five-pad;
      }
    }

    .about__text {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      @include five-pad;
      height: auto;
    }

    .exp__text {
      order: 4;
      -ms-grid-row: 4;
      -ms-grid-column: 1;
      @include five-pad;
      height: auto;
    }

    .exp__img {
      -ms-grid-row: 3;
      -ms-grid-column: 1;

      img {
        order: 3;
        @include five-pad;
        height: 100%;
      }
    }
  }
}

.project__header {
  text-align: center;
  color: white;
  padding-bottom: 5vh;
  font-weight: 700;
  font-size: 2rem;
}

@media (min-width: 751px) {
  .projects {
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
  }
  .thumbnail {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
  }

  .flip__container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .pic__link,
  .mobile__link {
    display: none;
  }

  .thumbnail:hover .flip__container {
    transform: rotateY(180deg);
  }

  .flip__front,
  .flip__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    // To fix issues with backface-visibility on Firefox
    transform: rotateX(0deg);
  }

  .flip__pic {
    height: 100%;
    width: 100%;
  }

  .flip__back {
    background-color: rgba(22, 0, 256, 0.2);
    color: white;
    transform: rotateY(180deg);

    .caption {
      padding-top: 30px;
    }

    a .button {
      width: 40%;
      height: 15%;
      border-radius: 10px;
      margin-top: 40px;
      outline: none;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: darken(#f0f0f0, 15%);
      }

      &:active {
        background-color: darken(#f0f0f0, 30%);
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  @media (min-width: 751px) {
    .projects {
      display: flex;
      justify-content: space-around;
      padding-bottom: 2%;
    }
    .thumbnail {
      background-color: transparent;
      width: 300px;
      height: 200px;
      perspective: 1000px;
    }

    .flip__container {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }

    .flip__container:hover .flip__back {
      transform: rotateY(0deg);
    }

    .flip__container:hover .flip__front {
      transform: rotateY(180deg);
      display: none;
    }

    .pic__link,
    .mobile__link {
      display: none;
    }

    .thumbnail:hover .flip__container {
      transform: rotateY(0deg);
    }

    .flip__front,
    .flip__back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      transform: rotateX(0deg);
    }

    .flip__pic {
      height: 100%;
      width: 100%;
    }

    .flip__back {
      background-color: rgba(22, 0, 256, 0.2);
      color: white;
      transform: rotateY(180deg);

      .caption {
        padding-top: 30px;
      }

      a .button {
        width: 40%;
        height: 15%;
        border-radius: 10px;
        margin-top: 40px;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: darken(#f0f0f0, 15%);
        }

        &:active {
          background-color: darken(#f0f0f0, 30%);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .projects {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: auto;
    padding-top: 10px;

    .thumbnail {
      height: 33%;
      width: 60%;

      .flip__container {
        height: 100%;

        .flip__front {
          height: 75%;
        }
      }
    }
  }

  .flip__pic,
  .button {
    display: none;
  }

  .mobile__pic {
    width: 100%;
    height: 100%;
  }

  .caption {
    background-color: rgba(#222, 0.8);
    color: white;
    padding-top: 5px;
  }
}
@media (min-width: 751px) {
  #contact {
    height: auto;

    .links {
      height: auto;
      display: grid;
      display: -ms-grid;
      -ms-grid-rows: 1fr 1fr 1fr;
      -ms-grid-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-left: 5px;
      padding-top: 5vh;

      .contact {
        width: 150px;
        height: 150px;
        background-color: #ddd;
        border-radius: 50%;
        text-align: center;
        justify-self: center;
        -ms-grid-column-align: center;

        &:hover {
          background-color: #222;
        }

        &:hover .icon {
          color: #ddd;
        }

        &__github {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
        }

        &__email {
          -ms-grid-row: 2;
          -ms-grid-column: 1;
        }

        &__linkedin {
          -ms-grid-row: 3;
          -ms-grid-column: 1;
        }

        .icon {
          font-size: 7rem;
          margin-top: 19px;
          color: #222;
        }

        &:hover + .site {
          background-color: #ddd;

          .link__p {
            color: #222;
          }
        }
      }

      .site {
        background-color: #222;
        font-size: 50px;

        &__github {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
          -ms-grid-row-align: center;
        }

        &__email {
          -ms-grid-row: 2;
          -ms-grid-column: 2;
          -ms-grid-row-align: center;
        }

        &__linkedin {
          -ms-grid-row: 3;
          -ms-grid-column: 2;
          -ms-grid-row-align: center;
        }
      }

      .link__p {
        display: inline;
        pointer-events: none;
        text-decoration: none;
        color: #ddd;
      }
    }
  }
}

@media (max-width: 750px) {
  #contact {
    height: auto;
    padding-bottom: 5vh;

    .links {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10vh;

      .contact {
        display: none;
      }

      .site {
        background-color: #222;
        width: 100%;
        text-align: center;

        .link__p {
          color: #ddd;
          text-decoration: none;
          font-size: 50px;
        }
      }
    }
  }
}
